* {
    margin: 0;
    padding: 0;
}

/*Style co ban cho website*/
body {
    font-family: sans-serif;
    color: #333;
}

/*Style cho menu*/
.menu ul {
    background-color: #a8d8ff;
    list-style-type: none;
    text-align: center;
}

.menu li {
    /*color: #fa2020;*/
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
}

.menu a {
    text-decoration: none;
    color: rgb(158, 15, 15);
    display: block;
}

.menu a:hover {
    background-color: #f1f1f1;
    color: #333;
}

/* Drop down menu */
.sub_menu {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all .3s;
}

.menu li {
    position: relative;
}

.menu li:hover .sub_menu {
    visibility: visible;
    opacity: 1;
    transition: all .3s;
}

.sub_menu li {
    margin-left: 0 !important;
}

/* Menu cap 3 */
.sub_menu>ul {
    display: none !important;
}

/* Drop horizontal menu */
.sub_menu-2 {
    position: absolute;
    top: 0;
    left: 200px;
    /* background-color: red !important; */
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.sub_menu li:hover .sub_menu-2  {
    visibility: visible;
    opacity: 1;
    transition: all .3s;
}
